AWS_CLOUDFRONT_URL=your-cloudfront-domain.cloudfront.net
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_S3_BUCKET=your-s3-bucket-name
AWS_REGION=your-aws-region

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
DIRECT_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"
DATABASE_URL=postgresql://user:password@host:5432/postgres

# Generate with: npx auth secret
AUTH_SECRET=your-auth-secret

STRIPE_WEBHOOK_SECRET=whsec_your-stripe-webhook-secret
STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-publishable-key
